<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css">
			<link rel="stylesheet" type="text/css" media="screen" href="../css/grid_24.css">
			<link rel="stylesheet" type="text/css" media="screen" href="../css/style.css">
			<link rel="stylesheet" type="text/css" media="screen" href="../css/slider.css">
			<link rel="stylesheet" type="text/css" media="screen" href="../css/countdown.css">
			<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
			<script src="../js/jquery-1.7.min.js"></script>
			<script src="../js/jquery.easing.1.3.js"></script>
			<script src="../js/tms-0.4.1.js"></script>
			<script src="../js/countdown.js"></script>
		</head>
		<body>
			<div class="sub-pages">
			   <header>                   	
				  <h1><a href="index.html"><img src="../images/logo.png" alt=""></a></h1> 
				  <nav>  
					<ul class="menu">
						  <li><a href="../index.html">about</a></li>
						  <li><a href="../wedding.html">wedding</a></li>
						  <li><a href="../album.html">album</a></li>
						  <li><a href="../links.html">links</a></li>
						  <li><a href="../wishes.html">your wishes</a></li>
						  <li><a href="../contacts.html">contacts</a></li>
					  </ul>
				  </nav>
				</header> 
			</div>
			{{countdown}}
			<!--==============================content================================-->
			<section id="content">
				<div class="container">
			
				{{ content }}
			
				</div>
			</section>
			
			<!--==============================footer=================================-->
		  <footer>
			  <p><strong>© 2016  Hưng &amp; Phương</strong><br> Website Template created by <a class="link" href="http://giangcoi198x.github.io/cv" target="_blank" rel="nofollow">Giang Còi</a></p>
			  <div class="soc-icons"><a href="https://www.youtube.com/channel/UCE0cXfFrvRbjr-svDGCCepg?sub_confirmation=1"><img src="../images/icon-1.png" alt=""></a><a href="https://facebook.com/vitsieugay"><img src="../images/icon-2.png" alt=""></a><a href="https://twitter.com/giangcoi198x"><img src="../images/icon-3.png" alt=""></a></div>
		  </footer>	
	</body>
</html>